node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
composer.lock
package-lock.json
yarn-error.log
/.idea
/.vscode
*.cache
.DS_Store


# Below Comments For Design Style & Scripts
# /public/css/*
# !/public/css/.gitkeep
# /public/js/core/*
# !/public/js/core/.gitkeep

# /public/js/*.js*
# !/public/js/.gitkeep

# /public/js/iqonic-script/*.min.js*
# !/public/js/iqonic-script/.gitkeep
# !/public/js/setting-init.js

# /public/modules/**/*
# !/public/modules/.gitkeep
# /public/mix-manifest.json
node_modules
node_modules
/storage/media-library/**/*
